# Question **1**

In [ ]:
#creating dict
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75
    }

#getting keys as list
keys = list(sample_dict.keys())

#printing keys as list
print(keys)

['Physics', 'Math', 'history']

# Question **2**

In [ ]:
#creating dict
sample_dict = {
    'Physics': 82,
    'Math': 65,
    'history': 75,
    'chemistry': 89,
    'GK': 50
    }

#looping through the dict to sum all values
total = 0
for value in sample_dict.values():
  total += value

print(f'Sum of the all values is {total}.')

Sum of the all values is 361.

# Question **3**

In [ ]:
#creating dict
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

#looping through the dict to find the minimum score
minn = ''
minn_val = 100
for key,value in sample_dict.items():
  if minn_val >= value:
    minn_val = value
    minn = key
print(f'{minn}')

Math

# Question **4**

In [ ]:
#creating dict
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
}

# Keys to remove
keys = ["name", "salary"]

#loop for remove
for key in keys:
  sample_dict.pop(key)

print(sample_dict)

{'age': 23, 'city': 'Baku'}

# Question **5**

In [ ]:
#creating dict
sample_dict = {
    "name": "Khalid",
    "age": 23,
    "salary": 1000,
    "city": "Baku"
    }

# Keys to extract
keys = ["name", "salary"]
new_dict = {}
#loop to extract
for key in keys:
  new_dict.update({key : sample_dict[key]})

print(new_dict)

{'name': 'Khalid', 'salary': 1000}

# Question **6**

In [ ]:
#declearing variables
num = 0
total = 0
for i in range(10):
  num = int(input(f'Please enter {i+1}. number: '))
  total += num
print(f'Avearge of the all these 10 numbers is {total/10}.')

Please enter 1. number: 1
Please enter 2. number: 1
Please enter 3. number: 1
Please enter 4. number: 1
Please enter 5. number: 1
Please enter 6. number: 1
Please enter 7. number: 1
Please enter 8. number: 1
Please enter 9. number: 1
Please enter 10. number: 1
Avearge of the all these 10 numbers is 1.0.

# Question **7**

In [ ]:
for i in range(1,25):
  print(f"24 * {i} = {24*i}")

24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240
24 * 11 = 264
24 * 12 = 288
24 * 13 = 312
24 * 14 = 336
24 * 15 = 360
24 * 16 = 384
24 * 17 = 408
24 * 18 = 432
24 * 19 = 456
24 * 20 = 480
24 * 21 = 504
24 * 22 = 528
24 * 23 = 552
24 * 24 = 576

# Question **8**

In [ ]:
#declearing variables
num = int(input('Please enter number: '))
fact = 1
print(f'{num}! = ', end = '')
for i in range(1,num+1):
  if num == 0 or num == 1:
    break
  if num != i:
    print(f'{i} * ', end = '')
  else:
    print(f'{i} ', end = '')
  fact *= i
if num == 0 or num == 1:
  print(f'{fact}')
else:
  print(f' = {fact}')

Please enter number: 4
4! = 1 * 2 * 3 * 4  = 24

# Question **9**

In [ ]:
#decleraing variables
num = int(input('Please enter number: '))
summ = 0
copynum = num
while num > 0:
  summ += num%10
  num //= 10

print(f'Sum of the digits of the {copynum} is {summ}')

Please enter number: 16
Sum of the digits of the 16 is 7

# Question **10**

In [ ]:
#decleraing variables
string = input('Please enter string: ')

list_str = []

for i in string:
  if i != ' ':
    list_str.append(i)
print(f'Number of the characters in "{string}" is {len(list_str)}.')

Please enter string: I am Sarjan
Number of the characters in "I am Sarjan" is 9.