# Question **1**

In [ ]:
#creating two different dictionary
dict_1 = {'Sarjan' : 'student' , 'age' : 21}
dict_2 = {'Sarjan' : 'boy' , 'major' : 'Automation'}

#looping through one of the dictionary
#if there are overlapping case adding their values
for key in dict_1.keys():
  if key in dict_2.keys():
    dict_1[key]= dict_1[key]+dict_2[key]

#merging two dictionary to one of them
dict_2.update(dict_1)
dict_2

{'Sarjan': 'studentboy', 'major': 'Automation', 'age': 21}

# Question **2**

In [ ]:
#creating empty dictionary
#method 1 with {}
dict_1 = {}
print(dict_1)

#method 2 with dict()

dict_2 = dict()
print(dict_2)

{}
{}

# Question **3**

In [ ]:
#creating a dictionary
fruits = {
  'apple' : 'green',
  'banana' : 'yellow',
  'cherry' : 'pink',
  }

#method 1 using items()
for item in fruits.items():
  print(f'{item}')

print('--------------------')

#method 2 using keys()
for key in fruits.keys():
  print(f'{key} : {fruits[key]}')

('apple', 'green')
('banana', 'yellow')
('cherry', 'pink')
--------------------
apple : green
banana : yellow
cherry : pink

# Question **4**

In [ ]:
#creating a dictionary
student = {'Sarjan' : 'student',
          'age' : 21,
          'major' : 'Automation'}
print(f'Original list: {student}')

#method 1 using pop()

student.pop('age')
print(f'Updated list: {student}')

Original list: {'Sarjan': 'student', 'age': 21, 'major': 'Automation'}
Updated list: {'Sarjan': 'student', 'major': 'Automation'}

In [ ]:
student = {'Sarjan' : 'student',
          'age' : 21,
          'major' : 'Automation'}

print(f'Original list: {student}')

#method 2 using del

del student['age']
print(f'Updated list: {student}')

Original list: {'Sarjan': 'student', 'age': 21, 'major': 'Automation'}
Updated list: {'Sarjan': 'student', 'major': 'Automation'}

# Question **5**

In [ ]:
#creating a dictionary
student = {'sarjan' : 'student',
          'age' : 21,
          'major' : 'Automation'}
print(f'Original list: {student}')

#sorting dictionary in ascending order
student = dict(sorted(student.items()))

print(f'Updated list: {student}')

Original list: {'sarjan': 'student', 'age': 21, 'major': 'Automation'}
Updated list: {'age': 21, 'major': 'Automation', 'sarjan': 'student'}

# Question **6**

In [ ]:
#creating a dictionary
students_scores = {'Alice': 85, 'Bob': 90}

print(f'Original list: {students_scores}')

#updating Alice's score
#method 1
students_scores['Alice'] = 95

#adding Charlie to dictionary
#method 1
students_scores.update({'Charlie': 60})
print(f'Updated list: {students_scores}')

Original list: {'Alice': 85, 'Bob': 90}
Updated list: {'Alice': 95, 'Bob': 90, 'Charlie': 60}

In [ ]:
#creating a dictionary
students_scores = {'Alice': 85, 'Bob': 90}

print(f'Original list: {students_scores}')

#updating Alice's score
#method 2
students_scores.update({'Alice': 95})

#adding Charlie to dictionary
#method 1
students_scores['Charlie'] = 60
print(f'Updated list: {students_scores}')

Original list: {'Alice': 85, 'Bob': 90}
Updated list: {'Alice': 95, 'Bob': 90, 'Charlie': 60}

# Question **7**

In [ ]:
#creating a dictionary
fruits = {
  'apple' : 'green',
  'banana' : 'yellow',
  'cherry' : 'pink',
  }

#using loop printing all values
for value in fruits.values():
  print(f'{value}')

green
yellow
pink

# Question **8**

In [ ]:
#creating a dictionary
item_prices = {'apple': 1.00, 'banana': 0.50}

#finding total price using loop
total_price = 0
for price in item_prices.values():
  total_price += price

print(f'Total price before discount is {total_price}')

#finding total price using loop by updating values
total_price = 0
for key,price in item_prices.items():
  item_prices.update({key : price*0.9})
  total_price += price*0.9
print(f'Total price after discount is {total_price}')
print(f'Updated list: {item_prices}')

Total price before discount is 1.5
Total price after discount is 1.35
Updated list: {'apple': 0.9, 'banana': 0.45}